.cardDetalle{
    text-align: center;
    border: 1px solid;
    width: 25%;
    box-shadow: 4px 5px rgba(145, 105, 105, 0.20);
    
}
.cardContainer{    
    text-align: -webkit-center;
    margin-top: 45px;
}
